<div><p>What's on your mind youngling</p></div>
<div class=><form action="/answer" method="get" class="form">
  <input type="text" name="question" class="input"><input type="submit" value="Ask" class="btn">
</form>
</div>
